<div class="p-3">
<h4>New topic</h4>
<div style="height: 15px"></div>
    <%= link_to "Back", topics_path ,class: "btn btn-secondary"%>
  <div style="height: 15px"></div>
<%= render "form", topic: @topic %>

<br>

</div>





