<div class="p-3">
<h4>New Tag</h4>
  <div style="height: 15px"></div>
  <%= link_to "Back", tags_path ,class: "btn btn-secondary"%>
  <div style="height: 15px"></div>
<%= render 'tags/form' %>

</div>